@{
    ViewBag.Title = "About Us";
}

<!-- Header -->
<section class="bg-light">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="text-center p-5">
                Art Shop <span>- @ViewBag.Title</span>
            </h2>
        </div>
    </div>
</section>
<!-- End Header-->
<!-- About Us Section -->
<section id="about-us" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="section-title mb-4">Our Company</h2>
                <p>
                    Welcome to Art Shop, your premier destination for high-quality art assets. We are passionate about providing artists, designers, and creators with the finest digital resources to enhance their projects.
                </p>
                <p>
                    Our mission is to curate a diverse collection of art assets, including stunning JPGs, PNGs, and vector graphics, that cater to a wide range of creative needs. Whether you're working on graphic design, web development, or any creative endeavor, you'll find the perfect assets in our gallery.
                </p>
                <p>
                    At Art Shop, we believe in the power of art to inspire and transform. Our team of talented artists and designers is dedicated to delivering top-notch resources that spark creativity Sand help you bring your visions to life.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/favicon.png" alt="About Us Image" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>
<!-- End About Us Section -->
